/Encabezado de index, refactorizado para posibles futuras reutilizaciones con otros usuarios
%header.header
    %nav.header__nav
        %ul.header__nav__ul
            %li.header__nav__ul__li
                = image_tag 'avatar.png', alt: 'avatar'
            %li.header__nav__ul__li__mid
                = image_tag 'lupa.png', alt: 'search'
            %li.header__nav__ul__li__last &#8942
    %footer.header__footer
        %h1.header__footer__title Your Top Movies
        