/Lista de peliculas. Recorro la variable de instancia para renderizar la informacion de la base de datos

%section.main__sectionList
  %ul.main__sectionList__ul
    - @movies[1..-1].each do |movie|
      %li.main__sectionList__ul__li
        =image_tag movie.image_link, alt:"#{movie.title+' - '+ movie.author}", class: 'imageList' if movie.image_link
        =image_tag movie.image, alt:"#{movie.title+' - '+ movie.author}", class: 'imageList' if movie.image.attached?
        %h2.number.main__sectionList__ul__li__number= movie.position

     
%button.main__button &#9998