/Imagen de pelicula posicionada en el primer puesto
%main.main
    =image_tag @poster.image_link,  alt:"#{@poster.title+' - '+ @poster.author}", height: '731px', width: '411px', class: 'image image--principal' 
    %h2.number.main__number=@poster.position

  
    