

html, body {
  @apply h-full;
}

* {
  @apply m-0 p-0 box-border
  
}

.topMovies {
  @apply relative w-body h-body my-0 mx-auto;
}

.header {
  @apply absolute w-full;
  &__nav{
    @apply h-16 bg-black/80;
    &__ul{
      @apply p-3 flex list-none items-center;
      &__li:first-of-type{
        @apply cursor-pointer
      }
      &__li__mid{
        @apply absolute right-7 cursor-pointer;
      }
      &__li__last{
        @apply absolute right-2 not-italic text-lg font-extrabold text-slate-200 hover:text-amber-600 cursor-pointer;
      }
    }
  }
  &__footer{
    @apply h-10 bg-black/70;
    &__title{
      @apply my-0 mx-auto py-0   px-3  not-italic text-xl font-medium text-slate-200 font-montserrat;
      
    }
  }
}
.number{
  @apply absolute flex items-center justify-center font-bold bg-black/60 text-slate-200 font-montserrat;
}
.main{
  @apply  relative  w-body h-body  -z-20 top-0;
  &__number{
    @apply right-2 top-28 w-14 h-14 text-3xl ;
  }
  &__sectionList{
    @apply  absolute bottom-0 w-full h-sectionList bg-linearGrad; 
    &__ul{
      @apply  flex list-none gap-6 ml-4 mt-24  overflow-hidden;
      &__li{
        @apply relative rounded-sm min-w-imageList h-imageList ;
        &__imageList{
          @apply object-cover object-center h-full w-full ;
        }
        &__number{
          @apply absolute top-0 right-0 w-10 h-10 text-3xl z-10 ;
        }
      }
    }
  }
  &__button{
    @apply w-16 h-16 bg-slate-200 absolute bottom-3 right-3 -scale-x-100 text-5xl flex items-center justify-center rounded-full z-10 hover:bg-amber-600;
  }
}  

